In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [4]:
df = pd.read_csv('C:/Users/HP/Documents/Fax/Outbox/homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [10]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [13]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'area']], df.price)

LinearRegression()

In [22]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df.price)

LinearRegression()

In [25]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [29]:
reg.predict([[3000,3,40]])

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])

In [30]:
reg.predict([[2500,4,5]])

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([578876.03748933])

In [31]:
reg.intercept_

221323.00186540408

In [32]:
# Exercise

In [35]:
import pandas as pd
from sklearn import linear_model
from sklearn.linear_model import LinearRegression

In [36]:
# df = pd.read_csv('C:/Users/HP/Documents/Fax/Outbox/hiring.csv')
# df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

8

In [88]:
# df['test_score(out of 10)'].fillna(median_test)

In [43]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [87]:
# df.experience.fillna('zero')

In [86]:
# df

In [67]:
from word2number import w2n
# df['numeric_experience'] = df['experience'].apply(w2n.word_to_num)

In [80]:
# def safe_word_to_num(word):
#     try:
#         # Only convert if the input is indeed a string
#         if isinstance(word, str):
#             return w2n.word_to_num(word)
#         else:
#             return None  # or some other default value or error handling
#     except Exception as e:
#         print(f"Error converting {word}: {e}")
#         return None  # or handle error as needed

# df['numeric_experience'] = df['experience'].apply(safe_word_to_num)

In [85]:
# df

In [79]:
# new_df = df.drop('experience', axis = 1)
# new_df

In [77]:
# import math
# median_test = math.floor(new_df['test_score(out of 10)'].median())
# median_test

In [76]:
# new_df['test_score(out of 10)'].fillna(median_test)