In [1]:
import pandas as pd

In [28]:
df = pd.read_csv('C:/Users/HP/Documents/Fax/Outbox/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [29]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis='columns', inplace = True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [30]:
inputs = df.drop(['Survived',], axis = 'columns')
target = df.Survived

In [31]:
dummies = pd.get_dummies(inputs.Sex, dtype = int)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [32]:
inputs = pd.concat([inputs, dummies], axis = 'columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [33]:
inputs.drop(['Sex','male'], axis='columns',inplace = True)
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [34]:
# check if column have null value
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [36]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head(20)

    Pclass        Age     Fare  female
0        3  22.000000   7.2500       0
1        1  38.000000  71.2833       1
2        3  26.000000   7.9250       1
3        1  35.000000  53.1000       1
4        3  35.000000   8.0500       0
5        3  29.699118   8.4583       0
6        1  54.000000  51.8625       0
7        3   2.000000  21.0750       0
8        3  27.000000  11.1333       1
9        2  14.000000  30.0708       1
10       3   4.000000  16.7000       1
11       1  58.000000  26.5500       1
12       3  20.000000   8.0500       0
13       3  39.000000  31.2750       0
14       3  14.000000   7.8542       1
15       2  55.000000  16.0000       1
16       3   2.000000  29.1250       0
17       2  29.699118  13.0000       0
18       3  31.000000  18.0000       1
19       3  29.699118   7.2250       1

In [78]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(inputs,target,test_size = 0.2)

In [79]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [80]:
model.fit(x_train, y_train)

GaussianNB()

In [81]:
GaussianNB(priors=None, var_smoothing=1e-09)

GaussianNB()

In [82]:
model.score(x_test, y_test)

0.8268156424581006

In [92]:
model.predict(x_test[0:10])

array([1, 1, 0, 0, 0, 1, 1, 0, 1, 0], dtype=int64)

In [93]:
model.predict_proba(x_test[:10])

array([[2.66277215e-01, 7.33722785e-01],
       [4.15531919e-01, 5.84468081e-01],
       [7.49873196e-01, 2.50126804e-01],
       [6.77664083e-01, 3.22335917e-01],
       [9.17494632e-01, 8.25053680e-02],
       [1.38679058e-04, 9.99861321e-01],
       [5.61908209e-11, 1.00000000e+00],
       [9.56196131e-01, 4.38038693e-02],
       [4.14595782e-01, 5.85404218e-01],
       [9.56027773e-01, 4.39722271e-02]])

In [94]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),x_train, y_train, cv=5)

array([0.76223776, 0.76223776, 0.77464789, 0.73239437, 0.78873239])